{% extends 'base.html' %}

{% block content %}

<section class="container-fluid content about">
    <div class="aboutMe">
        <div class="aboutTop">
            <img class="img rounded-circle" src="http://via.placeholder.com/140x100" alt="Personal Image">
            <h2>About Me</h2>
        </div>
        <div class="aboutBottom">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quod deleniti, 
            quidem ea culpa nisi impedit repellat porro commodi rem fuga amet corporis deserunt, 
            obcaecati voluptas minus error perspiciatis animi fugit voluptatum? Nam, repellendus 
            quae enim animi eos illum quasi eligendi veritatis, eaque itaque totam, 
            quisquam facilis. Cum, possimus consectetur.
            </p>   
        </div>
    </div>
</section>

{% endblock %}