{% extends 'base.html' %}

{% block content %}

<section class="container-fluid content projects">
    <h2 class="projTitle">Projects</h2>
    <div class="row container cards">
        <div class="col-lg-4 col-md-6 col-xs-12 card" style="width: 20rem;">
            <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="projectBtn btn btn-primary">Live Demo</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 card" style="width: 20rem;">
            <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="projectBtn btn btn-primary">Live Demo</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 card" style="width: 20rem;">
            <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="projectBtn btn btn-primary">Live Demo</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 card" style="width: 20rem;">
            <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="projectBtn btn btn-primary">Live Demo</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}